@keyframes backgroundAnimation {
    0% {
        background-color: black;
    }

    50% {
        background-color: #000033;
    }

    100% {
        background-color: black;
    }
}
body{
    animation-name: backgroundAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


body {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    padding: 20px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
